.search-form.calendar-form
  = form_tag bookings_path, :method => :get do |f|
    #check-in-out-section.check-in-out-section
      #check-in-section.block.section.check-in
        %label#check-in-label.bold.search-form-label Check-in:
        = text_field_tag "booking[checkin_date]", booking_params("checkin_date", Date.today.strftime("%m/%d/%Y")), :class => "datepicker"
      #check-out-section.block.section.check-out
        %label#check-out-label.bold.search-form-label Check-out:
        = text_field_tag "booking[checkout_date]",booking_params("checkout_date", (Date.today + 1).strftime("%m/%d/%Y")), :class => "datepicker"
    .clear
    #occupancy-section.occupancy-section
      #room-option-section.block.room-box.room-option
        %label#room-option-label.bold Rooms:
        = select_tag "booking[room_count]", options_for_select((1..9).to_a, booking_params("room_count", 1))
      #adult-option-section.block.room-box.adult-option
        %label#adult-option-label.bold Adults:
        = select_tag "booking[adult_count]", options_for_select((1..20).to_a, booking_params("adult_count", 1))
      #children-option-section.block.room-box.children-option
        %label#children-option-label.bold Children (age 2-11):
        = select_tag "booking[child_count]", options_for_select((0..4).to_a, booking_params("child_count", 0))
    .clear
    #form-action-section.form-actions
      = submit_tag "Search", :class => "submit submit-primary", :id => "search-submit"
:javascript
  $(function() {
    $( ".datepicker" ).datepicker({
    minDate: 0,
    maxDate: "+6m",
    formatDate: "dd/mm/yy"
    });
  });