= form_for @facility, html: { class: "form form-horizontal facility" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@facility[:name])
  .form-group
    = f.label :status, class: 'control-label'
    .controls
      = f.text_field :status, class: 'form-control', required: true
    = error_span(@facility[:status])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), facilities_path, :class => 'btn btn-default'
