- model_class = Room
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:room_no) + ':'
  %br
  = @room.room_no
%p
  %strong= model_class.human_attribute_name(:wing) + ':'
  %br
  = @room.wing
%p
  %strong= model_class.human_attribute_name(:rate) + ':'
  %br
  = @room.rate
%p
  %strong= model_class.human_attribute_name(:floor_no) + ':'
  %br
  = @room.floor_no
%p
  %strong= model_class.human_attribute_name(:status) + ':'
  %br
  = @room.status


= link_to t('.back', :default => t("helpers.links.back")), rooms_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_room_path(@room), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), room_path(@room), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
